<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test1">
    <classes>
      <class name="com.ecom.osa.practice.TestNGprac1"/>
      <class name="com.ecom.osa.practice.TestNGprac4">
      <methods>
      <include name="script2"></include>
      
      </methods>
      </class>
      </classes>
  </test>
   <test thread-count="5" parallel="tests" name="Test2">
    <classes>
       <class name="com.ecom.osa.practice.TestNGprac2"/>
      <class name="com.ecom.osa.practice.TestNGprac3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
